 <section class="success" id="commands">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Commands</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Next to this is a list of commands that you can use with H.I.V.E.</p>
                </div>
                <div class="col-lg-4">
                    <p> Tell me a joke! <br>
Who is... <br>
Whats the time <br>
exit / shutdown <br>
hello! <br>
Who are you? <br>
Play... <br>
Whats the Date today? <br>
Manually Type in your Commands <br>
Use Calculator using the command: "calculator" <br>
Weather: "weather, rain, wind, temprature, cloud" <br>
</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/NateBrownProjects/TheHiveProject/Release\ Notes" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Release Notes
                    </a>
                </div>
            </div>
        </div>
    </section>
