 <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>To download: <br> 
                      1. Go to terminal and type, <strong>cd Documents</strong> , then type <strong>mkdir hive </strong>. Then enter the directory by typing <strong> cd hive </strong> . <br>
                      2.Clone the repository via the link below <br>
                      Now, go down to the configuration section to setup H.I.V.E up.
                  </p>
                 
                </div>
             
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/NateBrownProjects/TheHiveProject" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download H.I.V.E
                    </a>
                </div>
            </div>
        </div>
    </section>
