 <section class="success" id="insandcon">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Configuration and Usage</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <p>Once all installed, there are 2 ways you can run hive. <br> 
                     1. <strong> hive</strong> . If this command doesnt work, type in the following commands: 
                     <br>  <strong>chmod +x .hivec.sh </strong> and <strong>source .hivec.sh</strong> <br>
                     2. <strong>sh hive.sh</strong>
                     
                     <br>
                     <br>
                     If you encounter ANY problems or bugs, please open an issue on our Github Repository.
                 </p>
                </div>
            </div>
        </div>
    </section>
