<section class="success" id="install">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Install</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Once installed, enter the directory by typing the following command: <br> 
                            <strong>cd TheHiveProject</strong> <br> Then type: <br> <strong>sh setup.sh</strong> <br> Please make sure you have pip and python installed. when that has finnished, if you are not in a pyenv, then type the following command and re-run the sh script again. </p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/NateBrownProjects/TheHiveProject.git" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download H.I.V.E
                    </a>
                </div>
            </div>
        </div>
    </section>
